<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maverick_CODE</title>
        <link rel="stylesheet" href="t1.02.css">
    </head>
    <body>
        <header>
            <h1>MAV_COM</h1>
            <img src="C:\Users\user\Downloads\office.png" alt="logo">
        </header>
        <main>main</main>
        <aside>
            <ul>
                <li>HOME</li>
                <li>SERVICES</li>
                <li>CONTACTS</li>
                <li>ABOUT US</li>
            </ul>
        </aside>
        <section>section</section>
        <footer>footer</footer>
    </body>
</html>