<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maverick_CODE</title>
        <link rel="stylesheet" href="/static_scripts/t1.02.css">
    </head>
    <body>
        <header>
            <h1>MAV_COM</h1>
            <img src="/static_files/office.png" alt="logo">
        </header>
        <nav>
            <a href="">HOME</a>
             <a href="">SERVICES</a>
              <a href="">CONTACTS</a>
               <a href="">ABOUT US</a>
        </nav>
        <aside>
        </aside>
        <main>
            <ul id="messages"></ul>
            <label id="msg" for="in">MESSAGE</label>
            <input type="text" id="in">
            <p><button id="button">SEND</button></p>
        </main>
        <footer>
            Maverick Community 2025 
        </footer>
         <script src="/socket.io/socket.io.js"></script>
         <script src="/static_scripts/socket.js"></script>
    </body>
</html>