body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: grid;
    gap: 5px;
    margin: 14px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 3fr auto auto 3fr;
    grid-template-areas: 
        "header header header"
        "sidebar main main"
        "sidebar section section"
        "footer footer footer"
    ;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: header;
    color: #aa1c03;
    background-color: aqua;
}
main{
    grid-area: main;
    background-color: chocolate;
}
aside{
    grid-area: sidebar;
    background-color: darkgreen;
}
section{
    grid-area: section;
    background-color: cornflowerblue;
}
footer{
    grid-area: footer;
    background-color: limegreen;
}
ul {
    display: block;
    list-style-type: none;
    padding: 0px;
}
li:hover{
    background-color: aliceblue;
    font-size: larger;
    cursor: pointer;
}